@font-face {
    font-family: 'Literaturnaya';
    src: 
        url('./fonts/LiteraturnayaMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

h1 {
    font-family: Literaturnaya;
  }
  