<form class="form" (ngSubmit)="onSubmit()">
    <label for="title">Kirjan nimi:</label><br>
    <input type="text" class='inputbox' id='title' name="bookTitle" [(ngModel)]="book.bookName" ><br>
    <label for="author">Kirjailija:</label><br>
    <input type="text" class='inputbox' id='author' name="bookAuthor" [(ngModel)]="book.author"><br>
    <label for="comment">Oma mielipide kirjasta:</label><br>
    <input type="text" class='inputbox' id='comment' name="critics" [(ngModel)]="book.comment"><br>
    <input type="submit" value="Tallenna" class="btn">
</form>